<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aspirev.myproject">

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfTm8Skq39IqqVIQdCyCN4Xy_9u5Z7-yQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".CardDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contactez_nous"
            android:label="@string/title_activity_contactez_nous"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChercherCovoiturage"
            android:label="@string/title_activity_chercher_covoiturage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProposerCovoiturage"
            android:label="@string/title_activity_proposer_covoiturage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vehicule"
            android:label="@string/title_activity_vehicule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Preference"
            android:label="@string/title_activity_preference"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoPerso"
            android:label="@string/title_activity_info_perso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MesTrajetsAvenir"
            android:label="@string/title_activity_mes_trajets_avenir"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MesReservations"
            android:label="@string/title_activity_mes_reservations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inscription"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyLocalisation"
            android:label="@string/title_activity_my_localisation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Connection"
            android:label="CarDemoActivity"
            android:theme="@style/AppTheme.NoActionBar">            
        </activity>
        
    </application>

</manifest>